.popupStudent{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.621);
    display: flex;
    justify-content:center;
    align-items:center;
    transform: 'translate(-50%,-50%';
    z-index: 1000;
}


.popup-inner-student{
    position:relative;
    padding: 32px;
    width:100%;
    max-width:500px;
    background-color:#017f94;
    border-radius: 10px;
}

.popup-inner-student .close-student-btn{
    position: absolute;
    top:16px;
    right: 16px;
    cursor: pointer;  background-color: white; /* Green */
    border: 1px solid white;
    color:white;
    padding:0.2rem ;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    width:8rem;
    display: block;
    border-radius: 10rem;
    border: 2px solid #EE8B3A;
    background-color: transparent;
    
}
