
  .addingStudent{
    cursor: pointer;
  }
 
  .btn-add-student{
    background-color: white;
    border: 1px solid white;
    color:white;
    padding:0.2rem ;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    width:8rem;
    display: block;
    border-radius: 10rem;
    border: 2px solid #EE8B3A;
    background-color: transparent;
  }
  .my-select-student{
    font-size: 16px;
    padding: 10px;
    border: 2px solid #EE8B3A;
    border-radius: 4px;
    width: 220px;
    background: none;
  }