.cardFrameStudent{
    background-color: #017f94;
    width: 16vw;
    height: 50vh;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .cardlinestudentcard {
    height: 3px;
    width: 90%;
  
    background-color: #EE8B3A;
    margin: auto;
    margin-top: -20px;
  }
  .cardFrameStudent img {
    margin: auto;
    width: 90px;
    height: 90px;
  }
  .StudentCardContent {
    width: 100%;
    margin-bottom: 50px;
  }
  .StudentCardContent p {
    padding-left: 15px;
    margin: 0px;
    margin-bottom: 5px;
  }
  .pfpicc {
    border: 2px solid;
    border-radius: 50%;
    padding: 5px;
  }
  .deleteStudentButtencontainer {
    position: absolute;
    margin-bottom: 43vh;
    margin-left: 12vw;
    background: none;
  border-radius: 30%; 
  }
  
  .deleteStudentButtencontainer:hover {
    opacity: 90%;
  }
  
  