.cardFrameTeacher {
  background-color: #017f94;
  width: 16vw;
  height: 50vh;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cardlineteachercard {
  height: 3px;
  width: 90%;

  background-color: #EE8B3A;
  margin: auto;
  margin-top: -20px;
}
.cardFrameTeacher img {
  margin: auto;
  width: 90px;
  height: 90px;
  color: black;
}
.TeacherCardContent {
  width: 100%;
  margin-bottom: 50px;
}
.TeacherCardContent p {
  padding-left: 15px;
  margin: 0px;
  margin-bottom: 5px;
}
.pfpic {
  border: 2px solid;
  border-radius: 50%;
  padding: 5px;
}
.deleteTeacherButtencontainer {
  position: absolute;
  margin-bottom: 43vh;
  margin-left: 12vw;
  background: none;
border: none; 
}


.deleteTeacherButtencontainer:hover {
  opacity: 90%;
}

.editButtonTeacher {
  position: absolute;
  margin-top: 44vh;
  margin-right: 10vw;
  width: 70px;
  height: 25px;
  
}
.editButtonTeacher2 {
  position: absolute;
  margin-right: 10vw;
  width: 70px;
  height: 25px;
  border-radius: 20px;
  background-color: #EE8B3A;
  border: 0px;
  color: white;
}
.editButtonTeacher2:hover {
  background-color: white;
  opacity: 90%;
  color: #EE8B3A;
  cursor: pointer;
  border: #EE8B3A 2px solid;
}
.editButtonTeacher2:active {
  background-color: #EE8B3A;
  opacity: 90%;
  color: white;
  cursor: pointer;
  border: white 2px solid;
}
@media only screen and (max-width: 1000px) {

  .cardFrameTeacher {
    width: 23vw;
  }
  .deleteTeacherButtencontainer {
    margin-left: 18vw;
  }
}

@media only screen and (max-width: 650px) {

  .cardFrameTeacher {
    width: 40vw;
  }
  .deleteTeacherButtencontainer {
    margin-left: 28vw;
  }
}